body {
    font-family: sans-serif;
}
header{
    color: rgb(35, 207, 207);

}
h1{
    font-family: monospace;
}
footer{
    background-color: bisque;
}
nav{
   font-size: 20px;
   text-decoration:brown;
   color: cadetblue; 
   border: 3px solid greenyellow;
   border-radius: 10px;
   background-color: tomato;
}
.price{
  background-color: aquamarine;
  color: royalblue;  
}
h4{
 background-color:slategrey;
 border-radius: 10px;
 border: 10px red;
}
h5{
  color: red;  
  font-size: 25px;
}
h6{
  border: royalblue; 
  color: royalblue;
  border-radius: 10px solid royalblue; 
}
